body {
    background-color: white !important;
}
ul ul li a {
    margin-left: 9px;
}

/*----------------------------------------------------------------------------------------------------*/
/*Modul Laporan*/

div .laporan{
    overflow-y: auto;
}

/*Dekorasi Laporan*/
.indent1{
    margin-left: 2%;
}

.indent2{
    margin-left: 4%;
}

.judul-laporan{
    text-decoration: bold;
}

/*PERHATIAN!!! style ini mungkin mempengaruhi modul lain*/
@media print{
    body * {
        visibility: hidden;
    }

    #sidebar{
        visibility: hidden;
    }

    #section-to-print, #section-to-print *{
        visibility: visible;
    }

    #section-to-print{
        position: absolute;
        left: 0;
        top: 0;
    }
}
/*-----------------------------------------------------------------------------------------------------*/

.center{
    text-align: center;
}

.btn-primary {
    background-color: teal !important;
    border-color: teal !important;
}
.breadcrumb {
    background-color: teal !important;
    color: white !important;
    margin-left: 50px !important;
    width: 1260px !important;
}
.breadcrumb-item {
    color: white !important;
    
}
#judulJenis {
    margin-left: 100px;
}
.kartu input {
    opacity: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
  margin-right: 0.5rem !important;
  color: white !important;
}
.mr-5 {
    color: black !important;
}
.card-body {
    background-color: white !important;
}

.breadcrumb-item.active {
  color: white !important;
  font-weight: bold;
}
.card-body-icon i{
    color: black !important;
}
.navbar
{
border-bottom:1px solid grey;
}
#navbarTop #siteName {
    margin-left: 35px;
    font-weight: bold;
}
#navbarTop i {
    color: white !important;
}
.navbar-fixed {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar:hover {
    width: 250px;
}

/* #sidebar ul.list-unstyled {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll !important;
} */

#sidebar li {
    position: relative;
    display: block;
    width: 250px;
}

#sidebar li:hover>a,
#sidebar li:focus>a,
#sidebar li:active>a {
    background-color: teal !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

li a,
li a:hover,
li a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    display: block;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #555;
    color: #ccc;
    transition: all 0.4s;
    width: 40px;
    overflow: hidden;
    min-height: 100vh;
    position: absolute;
    z-index: 1;
}

div .sidebar-header {
    padding: 20px;
    overflow: scroll !important;
    background: #555;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

#sidebar ul ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a.dropdown-toggle.active,
a[aria-expanded="true"] {
    color: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* subsub menu */

ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 45px !important;
}

ul li span {
    margin-left: 20px;
}

section{
}

/* kontener semua */
.container-fluid {
    max-width: 90%;
    /* border: 2px solid #000; */
    -webkit-transform: translate(30px, 15%);
    -ms-transform: translate(30px, 15%);
    -o-transform: translate(30px, 15%);
    -moz-transform: translate(30px, 15%);

}


.margin-kartu {
    margin: 20px 0;

}

/* card */
.kartu {
    position: relative;
    left: 0;
    bottom: 0;
    height: 500px;
    width: 240px;
    background: #555;
    overflow: hidden;
    border-radius: 0.25rem;
}

input,
.togle {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
}


.togle {
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: 0.5s;
    line-height: 50px;
    font-size: 36px;
    box-shadow: 0 0 0 0px #555;
    padding: 3px;
}

.checkbox .togle span {
    position: absolute;
    transform: translate(5px, -7px) !important;
}

input:checked~.togle {
    box-shadow: 0 0 0 500px #555;
    transform: rotate(225deg);
}

.imgBox,
.kartu-submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kartu-submenu {
    padding: 0px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

input:checked~.kartu-submenu {
    opacity: 1;
    transition-delay: 0.3s;
}

.list-group {
    width: 260px !important;
}

button.list-group-item {
    height: 60px;
    font-size: 1.25em !important;
}


.list-group button {
    z-index: 12;
    pointer-events: visible;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 0.9em !important;
    color: #fff;
}


.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: rgb(223, 35, 35) !important;
    color: #fff !important;
    border: none !important;
}

.list-group a {
    text-decoration: none !important;
    font-size: 1em !important;
    color: #fff !important;
    height: 100% !important;
    width: 100% !important;
}





.card-body {
    background-color: #eee;
}

.kol-3 {
    /* max-width: 200px !important; */
    border: 2px solid #000;
    padding: 0px !important;
}

.row {
    margin-right: -50px !important;
    margin-left: -50px !important;
}

/* ukuran card */
/* 5 items: max-width=230px*/
.kol5 {
    max-width: 230px;
}

.kol3 {
    max-width: 280px !important;
}

/* Card udahan */




/*Tambahan - '+' solved - Bayuw*/
.togle span {
    position: absolute;
    transform: translate(9.5px, -14%) !important;
    opacity: 1;
}